---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
---

<MainLayout>
  <section class="mx-15 md:mx-20 lg:mx-40 font-noto">
    <div class="gap-12 mt-20 grid md:grid-cols-2">
      <div class="relative w-full max-w-sm mb-10 md:order-2 md:mt-30">
        <img
          src="../src/assets/img/portraet-1.webp"
          alt="Billede af Luna"
          class="p-10 relative"
        />
        <img
          src="../src/assets/img/ramme3.png"
          alt="Tegnet ramme"
          class="absolute top-10 scale-110"
        />
      </div>

      <div class="md:order-1">
        <div class="-mb-10">
          <h3 class="text-3xl relative" id="ommig">Om mig</h3>
          <img
            src="../src/assets/img/overskrift.png"
            alt="Tegnet ramme"
            class="relative -top-15 -left-19 animate-wiggle scale-70"
          />
        </div>

        <p class="-mt-15 md:text-lg lg:text-xl lg:mr-30">
          Jeg hedder Luna, er 24 år og bor i Valby. Jeg er startet på 3.
          semester på multimediedesign og bliver stadig mere passioneret for
          faget. Det har været en rejse at turde tage designbeslutninger uden
          straks at tvivle på mig selv, men kreativitet har altid været en stor
          del af mit liv – gennem musik, skuespil, maleri og håndarbejde. Jeg
          elsker at lade mig inspirere og mærke glæden ved at skabe, og den
          drivkraft tager jeg med ind i mit studie, hvor jeg udforsker og
          kombinerer mine kreative interesser.
        </p>
      </div>

      <div class="relative w-full max-w-sm md:order-3 md:-mt-30 lg:-mt-40">
        <img
          src="../src/assets/img/portraet-2.webp"
          alt="Billede af Luna"
          class="p-10 relative 0 mb-30"
        />
        <img
          src="../src/assets/img/ramme.png"
          alt="Tegnet ramme"
          class="absolute top-10 scale-115"
        />
      </div>

      <div class="md:order-4">
        <div class="md:mt-20 lg:mt-20">
          <h3 class="text-3xl relative md:-mt-20" id="minekompetencer">
            Mine kompetencer
          </h3>
          <img
            src="../src/assets/img/overskrift2.png"
            alt="Tegnet ramme"
            class="relative w-85 -top-14 -left-8 animate-wiggle"
          />
        </div>
        <p class="pb-30 -mt-10 md:-mt-10 md:text-lg lg:text-xl lg:mr-30">
          Jeg har erfaring med en række kreative og tekniske værktøjer, som jeg
          bruger i mit studie og projekter. I Adobe Illustrator arbejder jeg med
          grafisk design, illustrationer og visuelle identiteter. Gennem Visual
          Studio Code har jeg fået kendskab til kodning og udvikling af digitale
          løsninger. Med Adobe After Effects skaber jeg animationer og motion
          graphics, mens jeg i Adobe Premiere Pro redigerer og sammensætter
          videoer på en kreativ og fortællende måde. Derudover bruger jeg Figma
          til digitalt design og prototyper, hvor jeg kan kombinere æstetik og
          funktionalitet i brugeroplevelser.
        </p>
      </div>
    </div>

    <div
      class="flex flex-col items-center mb-30 relative group w-full max-w-sm mx-auto"
    >
      <div
        class="relative group w-76 h-10 bg-secondary rounded-sm mb-3 overflow-hidden"
      >
        <div
          class="absolute inset-0 w-0 bg-red-700 transition-all duration-900 group-hover:w-1/4"
        >
        </div>
        <span class="relative flex items-center h-full pl-4 text-white"
          >Illustrator</span
        >
      </div>
      <div
        class="relative group w-76 h-10 bg-secondary rounded-sm mb-3 overflow-hidden"
      >
        <div
          class="absolute inset-0 w-0 bg-red-700 transition-all duration-1000 group-hover:w-2/3"
        >
        </div>
        <span class="relative flex items-center h-full pl-4 text-white"
          >VS Code</span
        >
      </div>
      <div
        class="relative group w-76 h-10 bg-secondary rounded-sm mb-3 overflow-hidden"
      >
        <div
          class="absolute inset-0 w-0 bg-red-700 transition-all duration-900 group-hover:w-1/3"
        >
        </div>
        <span class="relative flex items-center h-full pl-4 text-white"
          >After Effects</span
        >
      </div>
      <div
        class="relative group w-76 h-10 bg-secondary rounded-sm mb-3 overflow-hidden"
      >
        <div
          class="absolute inset-0 w-0 bg-red-700 transition-all duration-900 group-hover:w-1/2"
        >
        </div>
        <span class="relative flex items-center h-full pl-4 text-white"
          >Premier Pro</span
        >
      </div>
      <div
        class="relative group w-76 h-10 bg-secondary rounded-sm mb-3 overflow-hidden"
      >
        <div
          class="absolute inset-0 w-0 bg-red-700 transition-all duration-900 group-hover:w-1/2"
        >
        </div>
        <span class="relative flex items-center h-full pl-4 text-white"
          >Figma</span
        >
      </div>
      <img
        src="../src/assets/img/ramme3.png"
        alt="Tegnet ramme"
        class="absolute -top-10 -left-2"
      />
    </div>
  </section>
</MainLayout>
