---
import tailwindcss from "@tailwindcss/vite";
---

<section class="bg-red-900 grid md:grid-cols-2 md:pb-20" id="kontakt">
  <section>
    <div class="flex justify-center gap-10 pb-16 pt-32">
      <a href="https://www.facebook.com/profile.php?id=100008144626478">
        <img src="/face.png" alt="Facebook ikon" />
      </a>
      <a href="https://dk.pinterest.com/lunawesth/_profile/">
        <img src="/pinterest.png" alt="Pinterest ikon" />
      </a>
      <a href="https://www.instagram.com/lunawesth/">
        <img src="/insta.png" alt="Instagram ikon" />
      </a>
    </div>
    <div class="flex text-center justify-center text-secondary-dark">
      <p>
        luwe0002@stud.ek.dk<br /><br />
        © 2025 by Luna | Multimediedesign
      </p>
    </div>
  </section>
  <div class="flex justify-center">
    <img
      src="/footer-blomst.png"
      alt="Tegnet blomst"
      class="md:pt-20 animate-wiggle"
    />
  </div>
</section>
